@import "tailwindcss";

@theme {
  /* Colors */
  --color-text-primary: #000000;
  --color-text-secondary: #c1c1c1;
  --color-accent-primary: #5040a1;
  --color-accent-secondary: #fe6060;
  --color-bg-primary: #ffffff;

  /* Font */
  --font-inter: var(--font-inter);
}
